# dependencies
node_modules
.pnp
.pnp.js

# misc
.DS_Store
*.pem

# ide
.idea
.vscode
.npmrc

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# pkg managers
package-lock.json*
yarn.lock*

# build
build
